# Токен вашего Телеграм-бота, полученный от @BotFather
BOT_TOKEN=1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ

# Таймаут между бросками дайсов для защиты от спама (в секундах)
THROTTLING_RATE=1.0

# Соль для хеширования Telegram User ID в базе данных для обеспечения конфиденциальности
DB_SALT=replace_with_your_random_secret_salt_string
